<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<%- include('common/styles') %>
<body>
    <%- include('common/header') %>
    <h1 class="color">WELCOME! LOGIN PAGE <%= user_info.name%></h1>


    <%- include('common/footer') %>
</body>
</html>